<main>
  <section>
    <ul id="pieces">
      <li class="piece"><a href="grids-poly-001/">grids-poly-001</a></li>
      <li class="piece"><a href="grids-quad-001/#countX=16&countY=16&cellVaryY=1&cellVaryMag=8">grids-quad-001.a</a>
      </li>
      <li class="piece"><a href="grids-square-001/#count=16">grids-square-001.a</a></li>
      <li class="piece"><a href="grids-quad-001/">grids-quad-001</a></li>
      <li class="piece"><a
          href="grids-circle-002/#spacing=18&radiusMultiplier=1.6&initialStrokes=8&strokesMultiplier=0&marginX=60&marginY=60">grids-circle-002.a</a>
      </li>
      <li class="piece"><a href="grids-triangle-002/">grids-triangle-002</a></li>
      <li class="piece"><a href="grids-circle-002/">grids-circle-002</a></li>
      <li class="piece"><a href="grids-triangle-001/">grids-triangle-001</a></li>
      <li class="piece"><a href="grids-square-001/">grids-square-001</a></li>
      <li class="piece"><a href="grids-circle-001/">grids-circle-001</a></li>
    </ul>
  </section>
</main>