@import 'liquidxBase/base';

main {

  #geometryControls {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem 0;
  
    a#capture, a#share {
      display: block;
      font-size: 1rem;
      margin: 0 1rem 0 0;
    }
  }

  #canvasAndControls {
    display: flex;
    flex-wrap: wrap;
  }

  #container {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  #controls {
    margin-left: 0;
  }
}
