<div id="geometryControls">
  <a href="#" id="share">share</a>
  <a href="#" id="capture">record</a>
</div>
<div id="canvasAndControls">
  <div id="container"></div>
  <div id="controls"></div>
</div>