<!DOCTYPE html>
<html>

<head>
  {{> $liquidx-base/_header.hbs }}
  <title>geometrics by alastair tse</title>
</head>

<body>
  <header>
    <span class="here">geometrics</span>
  </header>
  <main>
    {{> geometrics-index.hbs }}
  </main>
</body>

</html>