<!DOCTYPE html>
<html>

<head>
  {{> $liquidx-base/_header.hbs }}
  <title>{{name}} -- geometrics by @liquidx</title>
</head>

<body class="canvas dark">
  <header>
    <a href="../">geometrics</a>
    <span class="sep">/</span>
    <span class="here">{{name}}</span>
  </header>
  <main>
    {{> geometrics-piece.hbs }}
  </main>
</body>

</html>